.l-columns{
    width: 100%;
}

.c-card{
    display: grid;
    grid-template-areas:
        "izquierda derecha-arriba"
        "izquerda derecha-abajo";
}

.c-card__img{
    grid-area: izquierda;
}

.c-card__badges{
    grid-area: derecha-arriba;
}

.c-card__title{
    grid-area: derecha-abajo;
}